html, body {
    background: #f2f4f2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1 {
    font-size: 16pt
}
.locale-font * {
    font-size: 13pt !important;
}
/*.center-login-form {
    width:260px;
    padding: 20px 0;
}
*/
.mobile-qr {
    font-size: 13pt !important;
}
